<%-include('header') -%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary px-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h3>home page</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a href="/route/logout" class="btn btn-light btn-outline-dark ">Log out</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="text-center center-div mt-5" id="login">
        <div class="container w-50  py-5 mt-3">
            <h1>hi "<%= locals.user ?user :"User" %>"</h1>
            <h1>Welcome to Homepage</h1>
        </div>

    </div>

    <%-include('footer') -%>